// ======================================
//  Variables
// ======================================

// Colors
$default-border-color: #DCDCDC;
$default-text-color: grey;

$blockquote-border-color: #57E1C0;
$link-text-color: #51DEFC;
$headline--primary-border-color: #57E1C0;

$nav-hover-color: #57E1C0;
$nav-text-color: #fff;

$form-border-color: #57E1C0;

$default-button-color: #51DEFC;
$success-button-color: #64CB82;
$error-button-color: #E4757B;
$warning-button-color: #FD7857;
$info-button-color: #927BC3;



// Breakpoints
$breakpoints: (
	'xs': 575px,
	'sm': 576px,
	'med': 768px,
	'lg': 992px,
);


// Layout
$max-width: $break-m;
$gutter: 10px;

// Fonts
$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;