// ======================================
//  Button Styles
// ======================================

%btn {
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	text-transform: uppercase;	
}

.btn {
	@extend %btn;
	&--default {
		@extend .btn;
		background: $default-button-color;
		border-color: $default-button-color;
	}
	&--success {
		@extend .btn;
		background: $success-button-color;
		border-color: $success-button-color;	
	}
	&--error {
		@extend .btn;
		background: $error-button-color;
		border-color: $error-button-color;	
	}
	&--warning {
		@extend .btn;
		background: $warning-button-color;
		border-color: $warning-button-color;	
	}
	&--info {
		@extend .btn;
		background: $info-button-color;
		border-color: $info-button-color;	
	}
}


/* Media Query on iPad */
@media (min-width: $break-m) {
	%btn {
		padding: 5px 25px;
	}
}