// ======================================
//  Form Styles
// ======================================

.form {
	@include flexy(flex, column, null, null, null);
	width: 95%;
	&__input {
		margin: 10px;
		padding: 10px;
		font-weight: bold;
		border: none;
		border-bottom: 5px solid $form-border-color;
		width: 80%;
		align-self: center;
	}
	&__label--hidden {
		display: none;
	}
}