// ======================================
//  Grid Styles
// ======================================


.centered {
	@include center;
}

.container {
	@include mq('med') {
		width: 80%;
	}
	margin: 0 auto;
	width: 90%;
}

.grid {
	&__row {
		@include flexy(flex, column, null, space-evenly, null);
		@include mq('med') {
			@include flexy(flex, row, null, null, null);

		}
		text-align: center;	
		margin-bottom: 40px;
	}

	&__col {
		@include flexy(flex, column, null, space-evenly, 1);
		border-radius: 5px;
		padding: 10px;
		margin: 5px;
		text-align: center;	

		&--3[class*="theme__colors"] {
			@extend .grid__col;
			background: #BB95C3;
		}	

		&--4[class*="theme__colors"]  {
			@extend .grid__col;
			background: #81E5FB;
		}	

		&--5[class*="theme__colors"]  {
			@extend .grid__col;
			background: #88D8A1;
		}	

		&--6[class*="theme__colors"]  {
			@extend .grid__col;
			background: #3DABD1;
		}	

		&--7[class*="theme__colors"]  {
			@extend .grid__col;
			@include mq('med') {
				@include flexy(flex, row, null, null, 2);
			}
			background: #EE9CA2;
		}	

		&--8[class*="theme__colors"]  {
			@extend .grid__col;
			@include mq('med') {
				@include flexy(flex, row, null, null, 3);
			}
			background: #FF9F87;
		}	

		&--9 {
			@extend .grid__col;
			.nav {
				@include flexy(flex, column, null, flex-end, null);
				@include mq('med') {
					@include flexy(flex, row, null, null, null);
				}
		  		list-style: none;
			    margin: 0;
			    padding: 0;
    		}
		}

		&--12  {
			@extend .grid__col;
			@include mq('med') {
				@include flexy(flex, row, null, space-evenly, 1);
			}
		}

		&--12[class*="theme__colors"]  {
			@extend .grid__col;
			background: #7FE7D0;
		}	
	}
}