.container {
	margin: 0 auto;
	width: 90%;
}

.grid__row {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
}

.grid__col--9 {

	.nav {
		display: flex;
  		flex-direction: column;
  		list-style: none;
	    margin: 0;
	    padding: 0;
    }
}


.grid__col--12 {
	display: flex;
  	flex-direction: column;
  	justify-content: space-evenly;
}


/* Media Query on iPad */
@media (min-width: 768px) {

	.container {
		width: 80%;
	}

	.grid__row,
	.grid__col--12  {
  		flex-direction: row;
	}

	.grid__col--3,
	.grid__col--4,
	.grid__col--5,
	.grid__col--6,
	.grid__col--7,
	.grid__col--8,
	.grid__col--12 {
		flex-grow: 1;
	}

	.grid__col--9 {
		.nav {
			flex-direction: row;
	    }
	}
}