// ======================================
//  Image Styles
// ======================================

.img {
	&--logo {
		margin: 15px;
		padding: 10px;
	}
	&--frame {
		padding: 10px;
		border: 1px solid $default-border-color;
		max-width: 95%;
	}
	&--avatar {
		margin: 10px;
		padding: 10px;
		object-fit: contain;	
	}
}


/* Media Query on iPad */
@media (min-width: $break-m) {
	.img--logo {
		padding: 0px;
		margin: 0px;
		float: left;
	}	
	
}