// ======================================
//  Image Styles
// ======================================

.img {
	&--logo {
		@include mq('med') {
		padding: 0px;
		margin: 0px;
		float: left;
		}
		margin: 15px;
		padding: 10px;
	}
	&--frame {
		padding: 10px;
		border: 1px solid $default-border-color;
		max-width: 95%;
	}
	&--avatar {
		margin: 10px;
		padding: 10px;
		object-fit: contain;	
	}
}