// ======================================
//  Navigation Styles
// ======================================


.nav__item {
	border-radius: 5px;
	margin: 5px;
	padding: 15px;
	a {
		text-decoration: none;
		font-size: 1.15em;
	}
	&:hover {
		background: $nav-hover-color;
		a {
			color: $nav-text-color;
		}
		
	}
}


/* Media Query on iPad */
@media (min-width: $break-m) {
	.nav__item {
		padding: 5px;
	}
	
}