// ======================================
//  Base Styles
// ======================================

* {
	border: $default-border-color solid;
	color: $default-text-color;
	font-family: $default-font;
}

p {
	text-align: left;
}